<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dayli Todo List</a>
</nav>



 <div class="center-column">

 	<form method="POST" action="/">
 		{% csrf_token %}
 		{{form.title}}
 		<input class="btn btn-info" type="submit" name="Todo">
 	</form>

 	<div class="todo-list">

 	{% for task in tasks %}
		<div class="card">
			  <div class="card-header">
				<h5>Posts</h5>
			  </div>
			  <div class="card-body text-white bg-dark" style="max-width: 100%;"">
				  {% if task.complete == True %}
				  <strike>{{task}}</strike>
				  {% else %}
				  <span>{{task}}</span>
				  {% endif %}

				  	<a class="btn btn-sm btn-info" href="{% url 'update' task.id %}">Update</a>
				  	<a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>

			  </div>
		</div>
 	{% endfor %}
 	</div>
 </div>



